html,
body {
  height: 100%;
  margin: 0
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #474A5E; 
}
 
::-webkit-scrollbar-thumb {
  background: #63677C; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar-corner { 
  background: #63677C
}

.flex-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-wrapper .row.header {
  flex: 0 1 auto;
  background-color: #474A5E;
  color: white;
}

.flex-wrapper .row.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-wrapper .row.footer {
  flex: 0 1 20px;
  background-color: #474A5E;
  color: white;
}

.flex-wrapper .row .split-row {
  overflow: auto;
}

.gutter {
    background-color: #474A5E;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: ns-resize;
}

.gutter.gutter-horizontal {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: ew-resize;
}

.CodeMirror {
  height: 100%;
}

.results-row {
  color: #ffffff;
  background-color: #282a36;
  font-family: monospace;
}