html,
body {
  height: 100%;
  margin: 0
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #474A5E; 
}
 
::-webkit-scrollbar-thumb {
  background: #63677C; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar-corner { 
  background: #63677C
}

.flex-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-wrapper .row.header {
  flex: 0 1 auto;
  background-color: #474A5E;
  color: white;
}

.flex-wrapper .row.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-wrapper .row.footer {
  flex: 0 1 auto;
  background-color: #474A5E;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  align-items: center;
}

.flex-wrapper .row .split-row {
  overflow: auto;
}

.gutter {
    background-color: #474A5E;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: ns-resize;
}

.gutter.gutter-horizontal {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: ew-resize;
}

.CodeMirror {
  height: 100%;
}

.results-row {
  color: #ffffff;
  background-color: #282a36;
  font-family: monospace;
}

#result-error {
  padding: 5px;
}

#execution-status {
  padding: 2px;
  flex-basis: 60px;
  text-align: center;
  font-weight: bold;
}

#execution-time {
  /* background-color: green; */
  flex-basis: auto;
  padding: 2px 10px;
}

#row-count {
  background-color: blue;
  flex-basis: auto;
}

.exec-idle {
  background-color: gray;
}

.exec-running {
  background-color: yellow;
  color: black;
}

.exec-ok {
  background-color: green;
}

.exec-error {
  background-color: red;
  color: black;
}

.selected-statement {
  background-color: #4F4837;
}

.statement-pointer {
  width: 10px;
}